
{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class='subtitle'>{{ subtitle }}</div>
    <ol>
      {% for year, parents in parents_by_year.items() %}
      <div class='year-banner'>{{ year }}</div>
        {% for parent in parents %}
        <li>
            <a href='threads/{{ parent.filename_if_parent }}'>
                {{ parent.subject }}
            </a>
            <div class='index__author'>({{ parent.author_short }})</div>
        </li>
        {% endfor %}
      {% endfor %}
    </ol>
{% endblock %}

