{% extends "base.html" %}
{% block title %}
    <title>{{ messages[0].subject }} ({{ title }})</title>
{% endblock %}

{% block stylesheet %}
    {# Stylesheet reference is different because files are in threads/ dir #}
    <link rel='stylesheet' href='../style.css'>
{% endblock %}

{% block content %}
    <div class='breadcrumb'>
      {# Home is /mouthpiece-work #}
      <a href='..'>Mouthpiece Work</a> / {{ messages[0].subject }}
    </div>
    {% for message in messages %}
        <!--
          Metadata:
          {{ message.meta_json }}
        -->

        <div class='message' id='{{message.id_}}'>
            <div class='message__share-icon'></div>
            <div class='message__author'>FROM: {{ message.author }}</div>
            <div class='message__subject'>SUBJECT: {{ message.subject }}</div>

            <pre class='message__body'>{{ message.body }}</pre>
        </div>
    {% endfor %}
{% endblock %}
